@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.paytone{
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato{
    font-family: "Lato", sans-serif;
    font-style: normal;
}

.roboto{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
  
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


  
  
  